<%if user_signed_in?%>
<h2>
	Bienvenido <%=current_user.username%>



</h2>
<%end%>
<div style="width:50%; margin-left:25%; margin-top:15%;"> 
	<strong> <p class="center-xs" > Pagina de inicio en construcción</p></strong>
<div id="spin" class="spinner center-xs" style="margin-top:5%;">

<%= image_tag ("ajax-loader.gif")%>
</div>
