<div style="width:50%; margin:0 auto;">

<%= render 'form', procedimiento: "Editar" %>

<%= link_to 'Mostrar', appointment_procedure_path %> |
<%= link_to 'Regresar', appointment_procedures_path %>
</div>