<%if false%>
<p id="notice"><%= notice %></p>
<%end%>

<div class="center-xs" style="width:60%; margin:0 auto;">


<h1>Procedimientos realizados en la cita</h1>

    <% @procedures.each do |procedure| %>
       <ul class="list-group">
        <li class="list-group-item row">
        <%= label_tag procedure.id, nil, class:"blue crem btn margin-right"%>
        <strong class="margin-custom-text">Tipo: </strong><%= procedure.tipo%>
        <%=link_to "Ver completo", appointment_procedure_path(procedure.appointment.id,procedure), class:"orange white btn margin-left" %>
         </li>
      </ul>
    <% end %>
</div>