html, body{
	margin: 0px;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	background-color: #F9DAF6;
}

.title-font{
	font-size: 35px;
	font-family: 'Pacifico', cursive;
}

#wrapper{
	background-color: #F9DAF6;
}

a,a:visited{
	color: inherit;
	text-decoration: none;
}
a:hover{
  color: #AAE3F1;	
}
a:active {
  color: #AAE3F1;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 7px;
	transition: 0.3s;
}
.btn:hover{
	transform: scale(1.2);
}
.be-red {
	background-color: #C12C42;
}

.green2 {
	background-color: #A8C545;
}
.green{
	background-color: #6B8D7C;
}
.header-green{
	background-color: #1BBE9E;
}
a.white, .white{
	color: #F9F9FB;
}

a.cream, .cream{
	color: #D8C19F;
}

#logo{
	font-size: 1.5em;
}

li{
	list-style:none;
}

.no-margin{
	margin: 0px;
}

.margin-right {
	margin-right: 14em;
}
.margin-left-big {
	margin-left: 80%;
}
.margin-right-index {
	margin-right: 9em;
}
.margin-right-titles {
	margin-right: 11em;
}
.margin-custom-text {
	margin-right: 10px;
}
.margin-custom-text-left {
	margin-left: 5px;
}
.margin-left {
	margin-left: 15em;
}

.large-padding{
padding: 10px 5px;
}

.padding-campos{
	padding: 0px 15px;
}

.field, .top-space, .actions{
	margin-top: 1em;
}
.form-control-personales{
	border-radius: 10px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	outline: none;
	width: 40%;
	display: block;
	padding: 10px 10px;
}
.form-control-citas{
	border-radius: 10px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	outline: none;
	width: 40%;
	padding: 10px 10px;
}
.form-control{
	border-radius: 10px;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 10px;
	font-size: 1.2em;
}

.log-form-controll{
	border-radius: 10px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	outline: none;
	width: 40%;
	padding: 10px 10px;
}
.large-form-controll{
	border-radius: 10px;
	border-bottom: 1px solid;
	border-right: 1px solid;
	outline: none;
	width: 40%;
	display: block;
	padding: 10px 10px;
}

.dato-border-form-controll{
	border-radius: 10px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	width: 60%;
	display: block;
	padding: 10px 10px;
}
.dato-form-controll{
	border-radius: 10px;
	width: 60%;
	display: block;
	padding: 10px 10px;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.patient-height{
	height: 70px;
}
div.center-div {
    width:100%;
    display: table;
}
.background-cover{
	background-position: center;
}
.background-patient{
	background-color: #5F5448;
	border-radius: 10px;
}

.text-patient{
	color: #CADDCF;
}


h3 {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
}
.margin-patient{
	margin-top: 3em;
}

.left-space{
	margin-left: 1em;
}

.blue{
	background-color: #037E8C;
}
.orange{
	background-color: #FF564C;
}
.gray{
	background-color: #CCCCCC;
}
.color1{
	background-color: #037E8C;
}
.color2{
	background-color: #FF564C;
}
.color3{
	background-color: #F2BF27;
}
.color4{
	background-color: #C12C42;
}
.color5{
	background-color: #A6EDA6;
}
.color6{
	background-color: #EFA285;
}
.color7{
	background-color: #BA338A;
}
.color8{
	background-color: #69A4D7;
}